.match-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}
.match-table .dot {
    font-weight: 750;
    font-size: 3rem;
    padding-left: 1.2rem;
}
.match-table .dot.right {
    text-align: right;
    padding-right: 1.2rem;
}
.match-table td {
    border: none;
    vertical-align: middle;   
}
.match-table col.col1 {
    width: 30%;
}
.match-table col.col2 {
    width: 25%;
}
.match-table col.col3 {
    width: 25%;
}
.match-table col.col4 {
    width: 20%;
}
.match-table .animal-name {
    font-weight: 500;
    white-space: nowrap;
    font-size: 64px;
}
.match-table .animal-img {
    height: 84px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 2px 8px #ecdcc9a0;
}